<a href="/communities/<%= active_community.id %>" data-remote="true" style="padding:0px;width:100%">
<span style="padding:10px;line-height:2.5;font-size:14px;white-space:nowrap;font-weight:bold!important;"><%= community.name %></span>
</a>
  <script type="text/javascript">
  $(function() {
    $('#menu-1 a').on('click', function() {
        $('#content').load(this.href);
        var p = $(this).parent();
        if ($(p).hasClass('active_side_tab')) {
            $("#menu-1 li").removeClass('active_side_tab');
            $(p).addClass('active_side_tab');
        } else {
            $("#menu-1 li").removeClass('active_side_tab');
            $(p).addClass('active_side_tab');
        }
        return false;
    });
  });
  </script>