<a href="<%= communities_path %>" data-remote="true">
<%= cl_image_tag(community.photo.pic_url(:tiny_logo), class:"pull-left ", id:"#{community.photo.id}", style:"padding:4px;background-color:transparent; ") %>
<span style="padding:6px;line-height:2;font-size:13px;"><%= community.name %></span>
</a>
