<% provide(:title, 'Home') %>
<% if signed_in? %>
  <% if is_community_active? %>
  <div class="row">
      <aside class="span6">
        <section>
          <%= render 'shared/user_info' %>
          <br>
        </section>
      </aside>
     <div id="cu_post" class="span12" style="margin-left:0px;">
      <%= render 'posts/communities_post' %> 
    </div>
  </div> 
  <% else %>
    <script type="text/javascript">
    window.location.href="/communities" 
  </script>
  <% end %>

<% else %>
  <div class = "">
    <div class = "col-md-4 col-xs-12">
        <div class = "pt30-percent">
          <h3 class=" hidden-xs color-dark-blue ">
             Come unite with friends, neighbours and the world around you on Smarthood. 
          </h3>
            <h5 class="text-muted visible-md">
              It’s free. If you have Facebook account, just login with it.
            </h5>
        </div>
          <a href="#" id="sign_in_fb" class="btn btn-primary col-xs-6 sign_in_fb ml40 mt25 hidden-xs hidden-sm">Log In with <i class="fa fa-facebook"></i> </a>
   </div>
  <div class="col-md-8 col-xs-12 text-color">
    <div>
    <h3 id  = "sign_up_header" class = "hidden-xs center">
      Sign Up
    </h3>
    <h3 id  = "log_in_header" class = "hidden-sm hidden-md hidden-lg center">
      Log in
    </h3>
     <h5 class="text-muted center visible-xs">
              It’s free. If you have Facebook account, just login with it.
            </h5>
      <div>
        <noscript>
          &lt;div id="no_js_box"&gt;&lt;h2&gt;JavaScript is disabled on your browser.&lt;/h2&gt;&lt;p&gt;Please enable JavaScript on your browser or upgrade to a JavaScript-capable browser to register for Facebook.&lt;/p&gt;&lt;/div&gt;
        </noscript>
      </div>
    </div>
      <%= render 'user_info_login' %>
  </div>
</div>
<!--
<%= link_to image_tag("indy.png", alt: "Rashi"), 'http://rashi.org/' %> -->
<% end %> 
<script type="text/javascript">
$("#mp_link").click(function(){
  $("#mp_link").css("text-decoration","underline");
  $("#gp_link").css("text-decoration","none");
  $("#gp_div").hide();
  $("#mp_div").show();
});
$("#gp_link").click(function(){
  $("#gp_link").css("text-decoration","underline");
  $("#mp_link").css("text-decoration","none");
  $("#mp_div").hide();
  $("#gp_div").show();
});
if(GetURLParameter('page')=='signup'){
  xs_signup();
}
$(document).ready(function(){
$('.loading_menu').hide();
});
</script>