<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the EMS App</h1>

  <h2>
    This is the home page for the
    <a href="#">Rashi - Event Management</a>
     application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("indy.png", alt: "Rashi"), 'http://rashi.org/' %>