                  <% unless (notification_count.nil? || notification_count == 0)%>
                    <span class="pull-right label important" style="margin-right:5px;position:absolute;right:0;"><%= notification_count %></span>
                  <% end %>
