<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to Smarthood.in</h2>
    
    <p>
      You have are invited to join Smarthood.in, just follow the below link to join:
      <%= new_token_url(@user.password_reset_token) %>
    </p>

    <p>Regards,</p>
        Smarthood
    </body>
</html>