<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi,</p>
     <p>
      <strong><%= @user.name %></strong> has shared an album with you. Please follow this link: <%= @url %>.
    </p>
    <p>Please use <strong>Google chrome / Mozilla Firefox</strong> browser for better experience. </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>