<li>
    <div class="col-xs-6 pl0 pr5">
        <div class="thumbnail mb5">
            <div class="media bd-rad5">
                <span class="meta bottom bottom-gardient pb0 pt5">
                    <p class="mb0  semibold"><%= link_to album.title, album, class:"color-white font-15", remote: true, title: "#{album.title}" %></p>
                    <p class="mb5 ellipsis color-white font-11">
                        <%if album.photos.count == 1 %>
                            <%= album.photos.count %> photo
                        <% else %>    
                            <%= album.photos.count %> photos
                        <% end %>
                    </p>
                </span>
                <%= link_to cl_image_tag(album.photos[0].pic_url(:medium_small), class:"image_al_c img-responsive") , album, class: "unveiled", remote: true %>
            </div>
        </div>
    </div>
</li> 