<%= form_for(current_user.user_groups.build(group_id: group.id, invitation: Uc_enum::JOINED, is_admin: false),
             remote: true) do |f| %>
  <div><%= f.hidden_field :group_id %></div>
  <%= f.submit "Follow", class: "btn btn-info secure pull-right show_loading mr5" %>
<% end %>	