<li>
  <span class="content"><%= group.name %> 
	<% if group.privacy? %>
  <span class="red_color">Private</span>
  <% end %>
</span>

  <span class="timestamp">
    <%= group.description %>
  </span>

</li>