
      <div class="img_zoom" >
       <h4 class="pull-left" style="margin-left:10px;font-size:18px;">
        <div id="albumLink">
          <%= link_to group.name, group, class:"albumLink", id: "grp_name", remote: true %>
        </div>
      </h4>
      <%= link_to cl_image_tag(group.photo.pic_url(:thumb_medium), class:"roundCorner albumLink", id:"grp_#{group.id}") ,group, class:"albumLink roundCorner", remote: true %>
    </div>
