
<% provide(:title, "Groups") %>
<div class="row span6">
  <%= render '/groups/side_link_left' %>
</div>
 <ul id="group_list" class="grid span14">
    <% @my_groups.each do |group| %>
        <%= render :partial => '/groups/group', :locals =>{:group => group} %>
    <% end %>
</ul>

<div id="sidebar_right" class="row">
    <%= render '/groups/side_link_right' %>
</div>
