<% provide(:title, 'All Groups') %>
<h1>All Groups</h1>
<%= render 'create_group' if signed_in? %>
<%= will_paginate @groups %>

<ul class="groups">
  <%= render @groups %>
</ul>

<%= will_paginate @groups %>