<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-xs-12">
       
     
     <!-- <%= render 'follow_form' if signed_in? %>-->
        <div id="aboutDiv">  
             <%= render 'user_info'  %>
        </div>
  </div>
</div>
