<% provide(:title, 'Home') %>
 <div class = "">
    <div class = "col-md-4 col-xs-12">
        <div class = "mt70-md ml5-md">
          <h3 class=" hidden-xs color-dark-blue ">
             Come unite with friends, neighbours and the world around you on Smarthood. 
          </h3>
            <h5 class="text-muted visible-md visible-lg">
              It’s free. If you have Facebook account, just login with it.
            </h5>
        </div>
          <a href="#" id="sign_in_fb" class="btn btn-facebook col-xs-6 sign_in_fb ml40 mt25 hidden-xs hidden-sm">Log In with &nbsp;&nbsp;<i class="fa fa-facebook"></i> </a>
   </div>
  <div class="col-md-7 col-xs-12 text-color mt30 ml70-md">
     <div>
    <h2 id  = "sign_up_header" class = "hidden-xs  mb15">
      Sign Up
    </h2>
    <h3 id  = "log_in_header" class = "hidden-sm hidden-md hidden-lg center">
      Log in
    </h3>
     <h5 class="text-muted center visible-xs">
              It’s free. If you have Facebook account, just login with it.
            </h5>
      <div>
        <noscript>
          &lt;div id="no_js_box"&gt;&lt;h2&gt;JavaScript is disabled on your browser.&lt;/h2&gt;&lt;p&gt;Please enable JavaScript on your browser or upgrade to a JavaScript-capable browser to register for Facebook.&lt;/p&gt;&lt;/div&gt;
        </noscript>
      </div>
    </div>
      <%= render 'static_pages/user_info_login' %>
  </div>
</div>
