<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followers_group_path(@group) %>">
    <b id="followers" class="stat">
      <%= @group.users.count %> followers  
    </b>
  </a>
</div>