<div class="posts_one_div"><% @posts.each do |post| %>
  <%= render :partial => "posts/post_one", :locals => { :post => post} %>
 <% end %></div>
<script type="text/javascript">
$(document).ready(function(){
//  $(".gravatar").addClass(" thumbnail");
  $("#content").addClass("photo_content");
  $('.share_post').attr('data-loading-text', 'sharing...');

  });

$('.img_zoom1 img').load(function() {
    $(this).data('height', this.height);
}).bind('mouseenter mouseleave', function(e) {
    $(this).stop().animate({
        height: $(this).data('height') * (e.type === 'mouseenter' ? 1.08 : 1)
    });
});


/*$('.pop_up').popover({
    html: true,
    trigger: 'manual',
    placement: 'left',
    delay: { hide: 500},
    template: ' <div class="popover"><div class="pop_div"><div class="arrow1" stlye="margin-right:10px;"></div><div class="popover-inner"  ><h3 class="popover-title" ></h3><div class="popover-content" ><p></p><br></div></div></div></div>'
});

  $(".pop_up").hover(function(){
      $(this).popover('show');        
  },function(){
      $(this).popover('hide');        
  });
*/
</script>