@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  /*background-color: #646461;
  color: #E0DFDC;*/
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $grayLighter;
    &:last-child {
    //  border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* Groups */

.red_color{
  color: #f00;
}

.green_color{
  color: #0a0;
}

 /* user_group  */

.groups {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.pull-right-half{
  padding-right: 200px;
  float: right;
}

.textarea-height{
  textarea-height: 100px;
  height: 100px
}

.displayTable{
  list-style: none;
  margin: 0;
  tr {
    overflow: auto;
    padding: 3px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.free-flow{
    float: right;
}


.groupsList {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    
  }
}

.comments > ol {
    overflow: auto;
    padding:5px 0;
    padding-left: 50px;

     &:hover { background-color: #eee; }   
}

.clear-float{
clear:both;
}

/* ------------------------------------------
      Grid - start
--------------------------------------------- */

ul#grid {
  padding: 0;
  list-style: none;
//  margin-left:auto;
//margin-right:auto;
//  width: 130%;  
  }

#grid li {
  display: inline-block;
  border-top: 1px solid #ffffff;
  padding: 0;
  margin: 0 5px 10px 5px;
  } 

#grid li a {
  display: block;
  
  }

#grid li img {
  /*background-color: #64666a;
  padding: 2px; margin: 0;
  border: 1px dotted #58595b;
  opacity:0.8; filter:alpha(opacity=80);*/
  }

#grid li a:hover img {
opacity:1; filter:alpha(opacity=100);
  background-color: #333333;

  }

 .img-selected{
  opacity:1; filter:alpha(opacity=100);
 /* background-color: #00FF00;*/
  border: 3px solid #33DD33;
 }

.grid_display {
  padding: 20px;
  margin-left: auto; margin-right: auto;  margin-top:50px; margin-bottom:0;
  /*background-color: #ffd7ce;*/
  width: 513px; 

  /*these two properties will be inherited by .grid_display h2 and .grid_display p */
  font-family: 'GraublauWeb', arial, serif; 
  text-align: center;
  }  

div.grid_display h2 {
  padding: 0; margin: 0;
  clear: both;
  font-size: 35px;
  font-weight: normal;
  color: #58595b;
  background: none;
  font-family: 'GraublauWeb', arial, serif;  

  /* reset for cascade effects that are trickling down from other h2's */
  text-transform: none;
  letter-spacing: normal;
  }

.grid_display p {
  margin:0; padding: 0;
  font-size: 15px;
  color: #58595b;
  }



  ul.grid {
  padding: 0;
  list-style: none;
//  margin-left:auto;
//margin-right:auto;
//  width: 130%;  
  }

.grid li {
  display: inline-block;
  border-top: 1px solid #ffffff;
  padding: 0;
  margin: 0 5px 10px 5px;
  } 

.grid li a {
  display: block;
  
  }

.grid li img {
  /*background-color: #64666a;
  padding: 2px; margin: 0;
  border: 1px dotted #58595b;
  opacity:0.8; filter:alpha(opacity=80);*/
  }

.grid li a:hover img {
opacity:1; filter:alpha(opacity=100);
  background-color: #333333;

  }

.backColor li {
  background-color: #f2f2f2!important;
    }

  /* ------------------------------------------
      Grid - end
--------------------------------------------- */

.center_block {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
  }

/* search*/
.pretty th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
.pretty th .asc {   
  background-image: url(/images/up_arrow.gif);   
}  
  
.pretty th .desc {   
  background-image: url(/images/down_arrow.gif);   
}  

.tr-hover{
  &:hover { background-color: #eee; }   
}

.overrideClass select {
  width: auto !important;
  height: auto !important; 
  
  }

  .container_full{
   margin-right: auto;
    margin-left: auto; 
   
  }

  .bold_font{
    font-size:20px;
    padding: 10px;  
  }
  .text_top{
    vertical-align:text-top;
  }

  .fbtopbar{
  overflow: visible;
  margin-bottom: $baseLineHeight;
  //color: $navbarText;

  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;

  }

//customizing navbar
  .btn {
    text-shadow: none;
  }

.navbar li:hover,
.navbar li.dropdown.open:hover{
  background-color: #758ab6!important ;
  text-shadow: none!important;
}

.topline{
  background: #f2f2f2;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 13px 20px 14px 0px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  border-radius: 0 0 0px 0px;
}
.stick {
    position:fixed;
    top:0px;
}

#ctn{
  margin-left:190px;
  margin-top:60px;
}

.container-wide{
  margin-left:190px;

}

.files { background-color: #eee; width:190px; height:30px; float:left; margin: 0 5px 5px 0; padding:2px; font-size:10px;}
.progress { width: 0%; background-color:#03C; height:4px; margin-top:5px;}

.floating {
    position: fixed;
    top:40px;
  //  background-color: #ffffff!important;
    z-index:1;
}

a.disabled {
  cursor:pointer;
 // pointer-events: none;
  
}

.bgClrChg:hover{
   background-color:#e0e0e0!important;
}

.bgClrChg2:hover{
   background-color:#d0d0d0;
   border-radius:5px;
}

.marginRight5{
  margin-right: 5px;
}

.marginRight10{
  margin-right: 10px;
}

.marginRight15{
  margin-right: 15px;
}

.marginRight25{
  margin-right: 25px;
}

.marginRight50{
  margin-right: 50px;
}

.marginLeft5{
  margin-left: 5px;
}

.marginLeft10{
  margin-left: 10px;
}

.marginLeft15{
  margin-left: 15px;
}

.marginLeft25{
  margin-left: 25px;
}

.marginLeft50{
  margin-left: 50px;
}

.marginLeft75{
  margin-left: 75px;
}


.marginLeft150{
  margin-left: 150px;
}
.marginLeft160{
  margin-left: 160px;
}


.marginLeft200{
  margin-left: 200px;
}

.margin15{
  margin: 15px;
}

.padding5{
  padding: 5px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.tabs h4{
  color:inherit;
}

.active_show{
  display:block;
}

.active_hide{
  display:none;
}

div#event_list ul.tabs li.active{
  text-shadow: none;
}

ul#group_list ul.tabs li.active{
  text-shadow: none;
}

div#camera_rolls ul.tabs li.active{
  text-shadow: none;
}

.inherit_width{
  width: inherit;
}

.tabs li>a{
 cursor:pointer; 
}

.sidetabs {
 cursor:pointer; 
 background-color: #f2f2f2;
 &:hover { background-color: #d0d0d0; }
}

.sidetabs_selected{
  background-color: #d0d0d0;
}

.tabs_selected{
  background-color: #a0a0a0!important;
}


roundCorner {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.flash-message {
  &.error {
        z-index: 11001;
        }
  &.notice {
    z-index: 11001;
        }
  z-index: 11001;
        p {
                z-index: 11001;
          }
}

.margin-padding0{
  margin: 0px;
  padding: 0px;
}

div#spinner
{
    display: none;
    width:50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(loading.gif) no-repeat center #f2f2f2;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:1px solid #666;
    border-radius:5px;
    box-shadow: 5px 5px 2px #888888;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

.fancybox-wrap{
  top:60px!important;
  buttom:auto;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.placeholder {
  color: #aaa;
  }

.token-input{
  min-width: 200px!important;
}

.post_grid li{
  list-style: none;
}

.expander {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    padding: 4px;
    background: white url(https://github.com/openxe/django-ace/diff_blob/1993c731626a44139b97d2d9fca8f4f4023f107a/django_ace/static/django_ace/img/expand.png?raw=true) center center no-repeat;
    z-index: 99999;   
    cursor: pointer;
}


.uiBoxWhite {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 5px;

}

.center-signin{
margin:auto;
margin-top: 10%;
width: 650px!important;
}

.signin-name-div{
padding: 20px 20px 3px 0px;
}
.signin-name{
border-bottom: 1px solid #ccc;
}
.signin-maginleft{
  margin-left: 100px;
}

.font_strong{
  font-weight: bold;
}

.uiButtonText, .uiButton input {
  background: none;
  border: 0;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  margin: 0;
  padding: 1px 0 2px;
  white-space: nowrap;
}
