<% unless activity.is_admin %>
<li class="sidetabs ml5">
      <%= link_to  activity.title, activity, id: "act_#{activity.id}", remote: true %>
</li>
<%= link_to(activity, remote: true) do %>
<% end %>
<% end %>
<script type="text/javascript">
  
$(".sidetabs").click(function(){
  $(".sidetabs").removeClass('sidetabs_selected');
  $(this).addClass('sidetabs_selected');
  $(this).next('a').click();
  $('.loading_page').show();
});


</script>
