
    <span class="user">
   	<div class="container"> <h1><%= @activity.title %></h1>
    </span>
     <span class="content"><%= @activity.description %></span>
     <span class="timestamp">
      Created <%= time_ago_in_words(@activity.created_at) %> ago.
    </div>
    </span>
 



