                <% if @events.count > 0 %>
                       <ul class='list-unstyled mt0' id='group_list'>
                      <div id="events_page" class="events_paginate">
                          
                        <% @events.each do |event| %>
                          <%= render :partial => 'communities/event', :locals => {:event => event, community: community} %> 
                        <% end %>
                        </div>
                      </ul>
                 <% else %>
                    <p class="semibold center">No events to display</p>
                <% end %>
                