                               <div class="row">
                                   <div class="btn-group pull-right mr5 mb5">
                                        <button type="button" class="btn btn-sm btn-info btn-custom dropdown-toggle " data-toggle="dropdown" aria-expanded="false">Invite <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <% if session["fb_access_token"].present? %>
                                               <li><a href="#"  id="invite_fb"> Facebook</a></li>
                                            <% end %>
                                               <li><a href="#modal_invite" id="invite_cu" >Smarthood </a></li>
                                               <li><a href="#modal_invite_email" id="invite_email" >By Email </a></li>
                                        </ul>
                                    </div>
                                </div>