     <div class="center loading_page hide" ><img src="/assets/loading.gif"></div>

      <div class="row">
        <div class="span13 ui-front">
          <div id="inv_cu">
             <%=  render '/communities/inv_cu', locals: {inv_req_cu: inv_req_cu }%>
          </div>
          <!-- <div id="inv_groups">
             <%=  render '/communities/inv_groups', locals: {inv_groups: inv_groups }%>
          </div> -->
        </div>
      </div>
<script type="text/javascript">
$(function(){
  $('.loading_menu').hide();
});
</script>