			<% unless (@requested_users_all.nil? || @requested_users_all == 0)%>
              <span class="pull-right label important" style="margin:5px;"><%= if @requested_users_all > 0 then @requested_users_all end %></span>
            <% end %>