      <div class="row">
        <div class="span13 ui-front">
             <ul class='users' id='my_comm_ul' style='margin-left:0px;'>
                <% @communities.each do |comm| %>
                  <%=  render  partial: 'community', locals: {community: comm } %>
                <% end %> 
             </ul>
        </div>
      </div>
<script type="text/javascript">
$("li.community").click(function(){
  $(this).next('a').click();
});
</script>