<% provide(:title, @selected_community.name) %>
<div class="row">
  <aside class="span6">
      <section id="about_sec">
        <%= render partial: 'communities/about_main', locals: { community: @selected_community} %>
      </section>

  </aside>
  <aside id="right" style="float: right;width:220px;margin-right:10px;">
    <div id="invited_ComUnity">
      
    </div>
  </aside>
  <div id="community_list" class="span13" style="margin-top:5px;">
    <div id="community_tabs" >  
      <%= render partial: 'communities/community_post', locals: {posts: @posts, community: @selected_community} %>
   </div>

 </div>

<script type="text/javascript">

  
  $('.show_loading').click(function(){
    $('.loading_page').show();    
  });
</script>